* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #02056B;
    font-weight: 600;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100px;
}

img.logo {
    width: 70px;
    margin-left: 10px;
    margin-right: 40px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-right: 200px;
}

ul li {
    margin-right: 30px;
}

header #right_menu {
    display: contents;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #right_menu div {
    margin-right: 20px;
}

#right_menu .contact_hp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header #right_menu div img {
    width: 30px;
    height: 30px;
}

#login {
    display: flex;
    flex-direction: row;
}

#login p {
    padding-top: 3px;
}

.hidden {
    display: none;
}

#experience .experience_btn {
    width: 120px;
    height: 50px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 4px;
    font-weight: 900;
}

/* BANNER */
#blog_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #21A0DF;
    color: white;
    font-weight: 900;
}

#blog_banner a {
    color: #fff;
    padding-left: 15px;
}

/* PROMOTE */
#promote {
    width: 100%;
    height: auto;
    background-image: url("./chp-marquee-iydlu-lg-bg-1.webp");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: 80px 10px;
}

#promote .promote_content {
    display: flex;
    flex-direction: row;
    padding: 80px 100px;
}

#promote .promote_content h1 {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 30px;
}

#promote .promote_content p {
    color: #000;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 60px;
}

#promote .promote_word {
    width: 50%;
}

#promote .promote_picture {
    width: 50%;
    padding: 30px 50px;
}

#promote .promote_word #header_btns button {
    font-size: 15px;
    border: 2px solid;
    border-radius: 5px;
    padding: 15px 25px;
    
}

#header_btns .data_cloud {
    border: #0176D3;
    background-color: #0176D3;
    color: white;
}

#header_btns .demo {
    border: #0176D3;
    color: #0176D3;
    background-color: white;
}

/* MAIN */
main {
    width: 100%;
}

/* REPORTS */
#reports h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 60px;
}

#boxes {
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 40px 60px 40px;
}

.report {
    width: 300px;
    height: 350px;
    margin-right: 40px;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 5px 5px 11px 1px #929090a2;
    background-color: #fff;
}

.report img {
    width: 300px;
    height: 160px;
}

.report div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    padding: 0 30px; 
    background-color: #fff;
}

.report div h3 {
    font-weight: 900;
}

/* BOARD */
main {
    background-image: url(hp-industries-page-break-bg.webp);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 99.9%;
    background-position: 0 240px;
    height: 2000px;
}

#board h2 {
    display: block;
    position: relative;
    text-align: center;
    top: 120px;
    font-size: 35px;
}

.board_wrapper {
    display: flex;
    flex-direction: row;
    padding: 100px 290px;
    margin-bottom: 80px;
}

.board_wrapper img {
    width: 285px;
    margin-right: 80px;
    position: relative;
    top: 80px;
}

.board_wrapper table {
    width: 1000px;
    margin-right: 40px;
    border-radius: 5%;
    box-shadow: 5px 5px 11px 1px #929090a2;
    background-color: #fff;
    position: relative;
    top: 80px;
    padding: 0 10px;
}

.board_category {
    padding: 6px 10px;
    height: auto;
    width: inherit;
    font-size: 13px;
    margin-bottom: 7px;
    color: white;
    border: none;
    border-radius: 2px;
    letter-spacing: 0.5px;
}

.board_wrapper > table > tbody > tr {
    width: 600px;
    display: flex;
    flex-direction: colume;
    padding: 25px 25px;
    border-bottom: 1.5px solid #d5d5d5;
}

.board_wrapper > table > tbody > tr:last-child {
    border-bottom: none;
}

/* BOARD CATEGORIES */
.ai {
    background-color: #5867e8;
}

.sustainability {
    background-color: #0176d3;
}

.awards {
    background-color: #fe9339;
}

/* SEMINAR REGISTER */
#seminar {
    height: 700px;
    padding: 60px 80px;
    background-color: #f7f3f3;
}

#seminar h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 70px;
}

.seminar_register {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seminar_register form {
    padding: 30px 50px;
    margin-right: 100px;
    background-color: #fff;
    font-size: 15px;
    width: 500px;
    border-radius: 8px;
    color: #000;
    font-weight: 200;
}

.seminar_register form input {
    margin-bottom: 25px;
    background-color: #d3edfa;
    border: none;
    padding: 5px;
}

input#name {
    width: 220px;
    height: 28px;
    border-radius: 5px;
    font-weight: 300;
}

label.name {
    margin-right: 10px;
}

label.gender {
    font-weight: 400;
}

textarea#expect {
    margin-top: 10px;
    /* width: 280px; */
    width: 100%;
    height: 120px;
    background-color: #d3edfa;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: 300;
}

.seminar_register iframe {
    height: 350px;
    width: 700px;
}

.btn {
    margin-top: 10px;
    border: #0176D3;
    color: #fff;
    background-color: #0176D3;
    font-size: 15px;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 15px;
}

footer {
    background-color: #02056B;
    padding: 20px 50px;
    height: 100px;
    display: flex;
}

footer nav ul {
    display: flex;
    list-style: none;
    justify-self: center;
}

footer nav ul li a {
    color: #fff;
    font-weight: 400;
}